.footer {
  width: 100%;
  height: 400px;
  background-color: rgb(26, 148, 255);
  color: white;
  position: relative;
}
.footer .header-footer {
  position: absolute;
  width: 100%;
  height: 50%;
}
.footer .header-footer ul {
  display: inline-block;
  padding-left: 3%;
  width: 17.5%;
  height: 200px;
  overflow: hidden;
}
.footer .header-footer .header-footer-1 {
  font-size: 1.2rem;
}
.footer .header-footer .header-footer-1 li {
  padding-bottom: 8%;
  padding-top: 8px;
}
.footer .header-footer .header-footer-1 li h3 {
  font-size: 1.8rem;
  color: rgb(230, 245, 18);
}
.footer .header-footer .header-footer-2 {
  font-size: 1.1rem;
}
.footer .header-footer .header-footer-2 li {
  padding-top: 8px;
}
.footer .main-footer {
  width: 100%;
  height: 50%;
  position: absolute;
  padding-top: 230px;
}
.footer .main-footer ul {
  display: inline-block;
  padding-left: 2%;
  width: 33%;
}
.footer .main-footer ul h2 {
  padding-left: 1.5%;
}
.footer .main-footer .input-footer {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  padding-left: 3%;
}
.footer .main-footer li {
  padding-top: 3px;
}
.footer .main-footer li:last-child {
  display: flex;
  padding-left: 10px;
  border: none;
  color: rgb(230, 245, 18);
}
.footer .main-footer li i {
  font-size: 1.3rem;
  width: 35px;
  height: 35px;
  border: 1px solid white;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.footer .main-footer li h3 {
  padding-left: 8px;
  padding-top: 10px;
}
.footer .main-footer button {
  height: 40px;
  width: 80px;
  background: rgb(230, 245, 18);
  border: none;
  cursor: pointer;
  outline: none;
}
.footer .footer-footer {
  width: 100%;
  height: 80px;
  position: absolute;
}
.footer .footer-footer h3 {
  padding-left: 3%;
  padding-top: 15px;
}
.footer-footer .width-footer {
  height: 3px;
  background: white;
  width: 98%;
  margin: 0 auto;
  margin-top: 330px;
}