.last-main-product h3 {
  width: 100%;
  background: rgb(255, 42, 42);
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  color: white;
  font-size: 1.5rem;
}
.last-main-product p {
  bottom: 2%;
  background: #f75e17;
  width: 70%;
  text-align: center;
  margin: 10px 15%;
  height: 40px;
  line-height: 40px;
  font-size: 1.2rem;
  color: white;
}
