<div class="footer ">
  <div class="header-footer">
                <ul class="header-footer-1">
                    <li>
                        <h2>MUA HÀNG TRỰC TUYẾN</h2>
                    </li>
                    <li>
                        <h3>0898357214</h3>
                    </li>

                </ul>
                <ul class="header-footer-1">
                    <li>
                        <h2>HOTLINE GÓP Ý</h2>
                    </li>
                    <li>
                        <h3>0824625623</h3>
                    </li>

                </ul>
                <ul class="header-footer-2">
                    <li>
                        <h2>THÔNG TIN</h2>
                    </li>
                    <li>
                        <p>Giới Thiệu</p>
                    </li>
                    <li>
                        <p>Liên hệ công ty</p>
                    </li>
                    <li>
                        <p>Đối tác</p>
                    </li>
                    <li>
                        <p>Tuyển Dụng</p>
                    </li>
                </ul>
                <ul class="header-footer-2">
                    <li>
                        <h2>CHÍNH SÁCH</h2>
                    </li>
                    <li>
                        <p>Chính sách bảo hành</p>
                    </li>
                    <li>
                        <p>Chính sách bảo mật</p>
                    </li>
                    <li>
                        <p>Chính sách hoàn tiền</p>
                    </li>
                    <li>
                        <p>Chính sách đổi hàng</p>
                    </li>
                </ul>
                <ul class="header-footer-2">
                    <li>
                        <h2>FAQ</h2>
                    </li>
                    <li>
                        <p>Thanh toán và vận chuyển</p>
                    </li>
                    <li>
                        <p>Hướng dẫn chọn máy</p>
                    </li>
                    <li>
                        <p>Kiểm tra thông tin đơn hàng</p>
                    </li>
                    <li>
                        <p>Câu hỏi thường gặp</p>
                    </li>
                </ul>
            </div>
            <div class="main-footer">
                <ul>
                    <li>
                        <h2>Đăng kí nhận khuyến mãi</h2>
                    </li>
                    <li><input class="input-footer" type="text"
                            placeholder="Nhập vào email của bạn..."><button>Gửi</button></li>
                </ul>
                <ul>
                    <li>
                        <h2>Tra cứu đơn hàng của bạn</h2>
                    </li>
                    <li><input class="input-footer" type="text"
                            placeholder="Nhập vào email của bạn..."><button>Tìm</button></li>
                </ul>
                <ul>
                    <li>
                        <h3>GÓP Ý/THAN PHIỀN</h3>
                    </li>
                    <li><input class="input-footer" type="text"
                            placeholder="Góp ý của bạn..."><button>Gửi</button></li>
                </ul>
            </div>
            <div class="footer-footer">
                <div class="width-footer"></div>
                <h3>Địa chỉ: Hòa Thắng, Buôn Ma Thuột, Đăk Lăk, Việt Nam</h3>
            </div>
        </div>
</div>