<div class="search">
        <form class="wrap_search" action="/">
            <input class="input-search  " name="keyword" type="text" placeholder="Nhập tìm kếm... ">
            <button class=" icon_search " type="submit">Tìm</button>
        </form>
</div>
<div class="menu">
                <div class="left">
                    <p class="header-menu-left">Hạng Mục </p>
                </div>
                <div class="right">
                    <ul>
                        <li>
                            <p>KẾT NỐI</p>
                        </li>
                        <li>
                            <p>GIỚI THIỆU</p>
                        </li>
                        <li>
                            <p >TIN TỨC+</p>
                        </li>
                        <li>
                            <p>SẢN PHẨM</p>
                        </li>
                        <li >
                            <p>HỎI ĐÁP+</p>
                        </li>
                        <li>
                            <p>TUYỂN DỤNG</p>
                        </li>
                        <li>
                            <p>LIÊN HỆ</p>
                        </li>
                        <li>
                            <p>HỖ TRỢ</p>
                        </li>
                    </ul>
                </div>
</div>